@inherits LayoutComponentBase

<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MoneyFlow</a>
    </div>
</div>

<div class="sidebar">
    <NavLink href="/" class="nav-link">🏠 Главная</NavLink>
    <NavLink href="/login" class="nav-link">🔐 Войти</NavLink>
    <NavLink href="/register" class="nav-link">📝 Регистрация</NavLink>
</div>

<div class="main p-4">
    @Body
</div>
