@page "/register"
<button id="testButton">Тест через JS</button>

@inject IJSRuntime JS

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval",
                "document.getElementById('testButton').addEventListener('click', () => console.log('JS кнопка работает!'))");
        }
    }
}